body {
    background: lavender;
}
*{
    box-sizing:border-box;
}

 h1{
     padding: 0 0 0 0.2em;
 }
 hr {
     background: blueviolet;
     padding: 0.1em;
     height: 0.1em;
     border: none;
 }

.accordion {
    width: 50%;
    background-color: lightgreen;
    margin: 0 auto;
    cursor: pointer;

}
.ac_inp {
    display: none;
}
.item {
    font-weight: bold;
}

.item label {
    cursor: pointer;
    display: block;
    padding: 0.4em;
}

.hidden_div {
    height: 0;
    overflow: hidden;
    transition: 0.5s;
}

.ac_inp:hover ~ .hidden_div {
    display: block;
    height: auto;
}

.ac_inp:hover + label + .hidden_div {
    overflow: auto;
    height: 25em;
    transition: 0.5s;
}

.img {
    display: flex;
    transition: all 5s ease-in-out;;
    height: 100%;
    width: 100%;
    padding: 2% 20% 2% 20% ;
}

.ac_inp:checked + label + .hidden_div {
    overflow: auto;
    height: 25em;
    transition: 0.5s;
}
.plus {
    float: right;
    height: 1em;
    width: 1em;
    opacity: 0;
}

#pic1:hover .plus {
    opacity: 90%;
}
